.App {
  height: auto;
  width: 100%;
  background: #888383;
  box-sizing: border-box;
  overflow: hidden;
}

.landingImg {
  height: 30vh;
  width: 100vw;
  margin-top: 70px;
  object-fit: cover;

  clip-path: polygon(0 2%, 100% 0, 100% 69%, 55% 100%, 0 100%, 0 49%);
}

@media (max-width: 768px) {
  .landingImg {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    height: 20vh;
  }
}
